
<%- include("partials/head.ejs") %>
<%- include("partials/header-logo.ejs") %>

<main>
    <h1>Bienvenido</h1>
    <p>Ingresa tu nombre para continuar:</p>

    <form action="/guardar-nombre" method="POST">
        <input type="text" name="nombre" placeholder="Tu nombre" required>
        <button type="submit">Entrar</button>
    </form>
</main>

<%- include("partials/footer.ejs") %>
