<%- include("partials/head.ejs") %>
<%- include("partials/header-logo.ejs") %>

<main id="login-container">
    <h1>Login dashboard</h1>
    <!-- Mostramos el mensaje de error del endpoint -->
    <% if (typeof error !== "undefined") { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %> 

    <form action="/login" method="POST" autocomplete="off" id="login-form">

        <label for="correoUser">Correo</label>
        <input type="email" name="correo" id="correoUser" required>

        <label for="passwordUser">Contraseña</label>
        <input type="password" name="password" id="passwordUser" required>

        <div class="login-botonera">
            <input type="submit" value="Login">
            <input type="button" id="acceso-rapido" value="Acceso rapido">
        </div>
       
    </form>

</main>




<script>
    // Funcionalidad boton acceso rapido
    let correolUser = document.getElementById("correoUser");
    let passwordUser = document.getElementById("passwordUser");

    let acceso_rapido = document.getElementById("acceso-rapido");

    acceso_rapido.addEventListener("click", () => {
        correoUser.value = "admin@admin";
        passwordUser.value = "admin"
    });
</script>

<%- include("partials/footer.ejs") %>
