/* Para la pagina principal */


header,
footer{
    background-color: #96e5dd;
    color: rgb(20, 2, 2);    
    box-shadow: 0 2px 0px rgba(1, 39, 70, 0.162);
    border-radius: 2px;
    padding: 0px 16px;
    
}

header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
footer{
    text-align: center;
}

.resaltado{
    color: rgb(63, 28, 28);;
}

.header-logo{
    width: auto;
}

.header-nav{
    width: auto;
}

header ul{
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

header li{
    list-style-type: none;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



.pagina-principal .heroe{
    padding: 20px;
}

.pagina-principal a{
    margin-top: 8px;
    display: inline-block;
    text-decoration: none;    
}

.pagina-principal .heroe .boton{
    color: bisque;
    background-color: rgb(61, 4, 43);
}

/* Para la pagina de los productos */

.pagina-productos{
    background-color: rgb(210, 207, 207);
    margin: 0;
    padding: 0;
}

.pagina-productos h2{
    color: #3a1515;
}

.pagina-productos .productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;   
    justify-content: center;
}

.pagina-productos .producto{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 250px;
    background-color: #f5f5f5; 
}

.pagina-productos .producto img{    
    /* max-width: 100%; */
    width: 250px;
    height: 250px;
    object-fit:contain;
    display: block;
    margin: 0 auto;
    background-color: #f5f5f5; 
}

.pagina-productos .btn button{
    padding: 8px 16px;
    background-color: #7f7c7c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Para la pagina de los carritos*/

.pagina-carrito{
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: left;    
}

.pagina-carrito #pagar{
    color: rgb(211, 203, 219);
    background-color: rgb(142, 104, 104);
}

.pagina-carrito .texto-carrito{
    margin-left: 10px;
}
