<header>
    <div>
        <h1 class="header-logo"><span class="resaltado">Mi</span>Tiendita</h1>
    </div>
            
    <nav class="header-nav">
        <ul>
            <li><a href="/bienvenida">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/consultar">Administrar</a></li>
           
            <li><a href="/carrito">Carrito<ion-icon name="cart-outline"></ion-icon></a></li>
           
        </ul>                
    </nav>          
</header>

