<header>
    <div>
        <h1 class="header-logo"><span class="resaltado">Mi</span>Tiendita</h1>
    </div>
            
    <nav class="header-nav">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="/index">Productos</a></li>
            <li><a href="admin">Administrar</a></li>
           
            <li><a href="carrito.html">Carrito<ion-icon name="cart-outline"></ion-icon></a></li>
           
        </ul>                
    </nav>          
</header>

